<p style="color: green"><%= notice %></p>

<%= render @combination %>

<div>
  <%= link_to "Edit this combination", edit_combination_path(@combination) %> |
  <%= link_to "Back to combinations", combinations_path %>

  <%= button_to "Destroy this combination", @combination, method: :delete %>
</div>
