<%= form_with(model: option_value) do |form| %>
  <% if option_value.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(option_value.errors.count, "error") %> prohibited this option_value from being saved:</h2>

      <ul>
        <% option_value.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :value, style: "display: block" %>
    <%= form.text_field :value %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
