<%= form_with(model: product, local: true, data: { controller: 'product-options', product_options_wrapper_selector_value: '.product-options-wrapper' }) do |form| %>
  <% if product.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>
      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <template data-product-options-target="template">
    <%= form.fields_for :option_types, OptionType.new, child_index: 'NEW_RECORD' do |p_options| %>
      <%= render "product_option_fields", f: p_options %>
    <% end %>
  </template>

  <template data-product-options-target="ttemplate">
    <%= form.fields_for :variants, Variant.new, child_index: 'NEW_RECORD' do |v| %>
      <%= render "variants", f: v %>
    <% end %>
  </template>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.rich_text_area :description %>
  </div>

  <div>
    <%= form.label :master_price, style: "display: block" %>
    <%= form.text_field :master_price %>
  </div>
  <br>

  <%= form.fields_for :option_types do |p_options| %>
    <div class="div-product-option-card">
      <%= render "product_option_fields", f: p_options %>
    </div>
  <% end %>

  <%= form.fields_for :varinats do |v| %>
    <div class="div-product-option-card">
      <%= render "variants", f: v %>
    </div>
  <% end %>
  
  <div data-product-options-target="target"></div>
  <button type="button" data-action="product-options#add">Add Option</button>
  <div id="variants-container"></div>
  
  <div>
    <%= form.submit %>
  </div>
<% end %>
