<div class="product-options-wrapper">
  <%= f.select :name, options_for_select(OptionTypeSet.all.map { |option| [option.name, option.id] }, selected: f.object.name), { prompt: 'Select option name' }, class: 'product-option-name-select form-control', id: "product-option-name-select_#{f.index}" %>
  
  <div data-product-options-target="valueContainer">
    <%= f.fields_for :option_values, (f.object.option_values.any? ? f.object.option_values : f.object.option_values.build) do |option_value| %>
      <div class="option-value">
        <%= option_value.select :name, options_for_select(OptionValueSet.all.map { |ov| [ov.value, ov.value] }, selected: option_value.object.name), { include_hidden: false }, class: 'product-option-value-select form-control select2', id: "product-option-value-select_#{f.index}_#{option_value.index}", multiple: false %>
        <button type="button" class="delete-value-button" data-action="product-options#removeValue" style="display: none;">Delete Value</button>
        <%= option_value.hidden_field :_destroy %>
      </div>
    <% end %>
  </div>
  
  <button type="button" data-action="product-options#addValue">Add Value</button>
  <button type="button" data-action="product-options#remove">Remove option</button>
  <%= f.hidden_field :_destroy, value: false %>
  <template data-product-options-target="valueTemplate">
    <div class="option-value">
      <%= f.fields_for :option_values, OptionValue.new, child_index: "NEW_VALUE_RECORD" do |option_value| %>
        <%= option_value.select :name, options_for_select(OptionValueSet.all.map { |ov| [ov.value, ov.value] }, selected: option_value.object.name), { include_hidden: false }, class: 'product-option-value-select form-control select2', id: "product-option-value-select_#{f.index}_NEW_VALUE_RECORD", multiple: false %>
        <button type="button" class="delete-value-button" data-action="product-options#removeValue" style="display: none;">Delete Value</button>
        <%= option_value.hidden_field :_destroy %>
      <%end%>
      
    </div>
  </template>
  
</div>