<!--products/product_option_field.html.erb-->
<div class="product-options-wrapper" data-new-record="<%= f.object.new_record? %>">
   
  <%= f.select :name, options_for_select(OptionTypeSet.all.map { |option| [option.name, option.id] }, selected: f.object.name), { prompt: 'Select option name' }, class: 'product-option-name-select form-control', id: 'product-option-name-select' %>
  
 
 <%= f.fields_for :option_values, (f.object.new_record? ? OptionValue.new : f.object.option_values.build) do |option_value| %>
  <%= option_value.select :name, options_for_select(OptionValueSet.all.map { |ov| [ov.value, ov.value] }, selected: f.object.option_values.map(&:name)), { include_hidden: false }, class: 'product-option-value-select form-control select2', id: 'product-option-value-select', multiple: true %>
<% end %>

 
  <button type="button" data-action="product-options#remove">Remove option</button>

  <%= f.hidden_field :_destroy %>
  
</div>