<!--products/_variants.html.erb-->
<% if @combinations.present?%>
  <h2>Variants</h2>
  <ul>
    <% @combinations.each_with_index do |combination, index| %>
    <%= fields_for :variants, Variant.new do |f| %>
      <li>
        <%=combination%>
        <%= hidden_field_tag "product[variants_attributes][#{index}][combinations_attributes][#{index}][option_combination]", combination, placeholder: 'SKU' %>
        <%= f.text_field :sku, placeholder: 'SKU' %>
        <%= f.text_field :price, placeholder: 'Price' %>
      </li>
    <% end %>
  <% end %>
    
  </ul>

<% end %>
