<%# app/views/products/_variants.html.erb %>
<div class="variant-fields">
  
  <%= f.label :option1, "Option 1" %>
  <%= f.text_field :option1, class: 'variant-option', data: { option1: true } %>

  <%= f.label :option2, "Option 2" %>
  <%= f.text_field :option2, class: 'variant-option', data: { option2: true } %>

  <%= f.label :option3, "Option 3" %>
  <%= f.text_field :option3, class: 'variant-option', data: { option3: true } %>

  <%= f.label :price, "Price" %>
  <%= f.text_field :price, class: 'variant-price' %>

  <%= f.label :sku, "SKU" %>
  <%= f.text_field :sku, class: 'variant-sku' %>
</div>
